@{
    ViewData["Title"] = "Home Page";
}


<body>
@await Component.InvokeAsync("Carousel")

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-consult">
	<div class="container">
		<div class="row d-flex no-gutters align-items-stretch	consult-wrap">
			<div class="col-md-5 wrap-about align-items-stretch d-flex">
				<div class="ftco-animate bg-primary align-self-stretch px-4 py-5 w-100">
					<h2 class="heading-white mb-4">Free Consulting</h2>
					<form action="#" class="appointment-form ftco-animate">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="First Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name">
						</div>
						<div class="form-group">
							<div class="form-field">
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">Select Guidance</option>
										<option value="">Finance</option>
										<option value="">Business</option>
										<option value="">Auto Loan</option>
										<option value="">Real Estate</option>
										<option value="">Other Services</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Phone">
						</div>
						<div class="form-group">
							<textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Request A Quote" class="btn btn-secondary py-3 px-4">
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-7 wrap-about ftco-animate align-items-stretch d-flex">
				<div class="bg-white p-5">
					<h2 class="mb-4">Negotiate <br>A Consulting Agency</h2>
					<div class="row">
						<div class="col-lg-6">
							<div class="services">
								<div class="icon mt-2 d-flex align-items-center"><span class="flaticon-collaboration"></span></div>
								<div class="text media-body">
									<h3>Business Solution</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
							<div class="services">
								<div class="icon mt-2"><span class="flaticon-analysis"></span></div>
								<div class="text media-body">
									<h3>Financial Analysis</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services">
								<div class="icon mt-2"><span class="flaticon-search-engine"></span></div>
								<div class="text media-body">
									<h3>Marketing Strategy</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
							<div class="services">
								<div class="icon mt-2"><span class="flaticon-handshake"></span></div>
								<div class="text media-body">
									<h3>Investment Planning</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(images/bg_3.jpg);">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-0">You Always Get the Best Guidance</h2>
			</div>
		</div>
	</div>
</section>
</body>